*{
    margin: 0;
    padding: 0;
}

/* Header Styling */

header {
    height: 100px;
    position: relative;
}

header>ul {
    position: absolute;
    right: 50px;
    top:10px;    
}

header>ul>li {
    display: inline-block;
    padding-left: 10px;
   
}

header>ul>li>a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

header>ul>li>a:hover {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: underline;
}

/* Search Form */

.searchFormContainer {
    height: 450px;
    position: relative;
}

.searchFormContainer>img {
    position: absolute;
    margin: auto;
    top: 20px;
    left: 0;
    right: 0;
    height: 92px;
}

.searchFormContainer>.logo-subtext {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: relative;
    white-space: nowrap;
    width: 50px;
    margin-left: 440px;
    margin-top: 95px;
    margin-bottom: -120px;
}

.searchFormContainer .inputField {
    height: 100px;
    margin-top: 150px;
    width: 100%;
    position: absolute;
}

.searchFormContainer .inputField .inputFieldSearchBar {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    width: 50%;
    
    left: 25%;
    position: absolute;
}

.searchFormContainer .inputField .inputFieldSearchBar:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}

.searchFormContainer .inputField .inputFieldSearchBar svg {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.searchFormContainer .inputField .inputFieldSearchBar input[type=text] {
    width: 80%;
    outline: none;
    border: 0;
    font-size: 24px;
}

.searchFormContainer .inputField .inputFieldSearchBar .keyboard {
    margin-top: 12px;
}

.searchFormContainer .inputField .inputFieldSearchBar .cam {
    background-size: 24px; 
}

.searchFormContainer .inputField .inputFieldSearchBar .cam img {
    height: 24px; 
    width: 24px;
    margin-top: 7px;
    margin-right: 15px;
    margin-left: -30px;
}
.searchFormContainer .searchButtons {
    margin: 10px auto;
    width: 100%;
    margin-top: 200px;
    
    position: absolute;
    height: 300px;
}

.searchFormContainer .buttonsContainer {
    margin: 5px auto;
    width: 50%;
    margin-left: 37%;
    
}

.searchFormContainer .searchButtons input[type="submit"] {
    margin: 0 auto;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    appearance: push-button;
    white-space: pre;
    align-items: flex-start;
    box-sizing: border-box;
}